.archive-page {
    &__wrapper {
        display: flex;
        gap: 7.2rem;
        padding: 4.8rem 0;
    }

    &__sidebar {
        max-width: 36.8rem;
        width: 100%;
        flex: 1 0 36.8rem;

        &:empty {
            display: none;
        }
    }

    &__title {
        font-size: var(--font-size-20);
        font-weight: var(--font-weight-semibold);
        color: var(--color-black);
        margin-bottom: 3.2rem;

        &-number {
            color: var(--color-text-secondary);
        }
    }

    &__filters {
        padding: 2.4rem;
        border-radius: 4px;
        border: 1px solid #DDDFE9;

        &-title {
            align-items: center;
            display: flex;
            justify-content: space-between;

            font-size: var(--font-size-20);
            font-weight: var(--font-weight-semibold);
            color: var(--color-black);
        }

        &-reset {
            font-size: var(--font-size-14);
            font-weight: var(--font-weight-bold);
            color: var(--color-text-secondary);
            text-decoration: none;
            transition: color 0.3s ease-in-out;
            appearance: none;
            cursor: pointer;
            border: 0;
            box-shadow: none;
            background: transparent;

            &:has(span:empty) {
                display: none;
            }

            &:hover {
                color: var(--color-primary-blue-dark);
            }
        }
    }

    &__content {
        flex: 1;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 3.2rem;
        
        &--post {
            grid-template-columns: repeat(2, 1fr);
        }
        
        &--books {
            grid-template-columns: repeat(2, 1fr);
            gap: 2.4rem;
        }
        
        &--contact {
            grid-template-columns: repeat(1, 1fr);
            gap: 1.6rem;
        }
    }

    & &__search {
        margin-bottom: 3.2rem;
        
        &-form {
            display: flex;

        }
        
        &-wrapper {
            flex: 1;
            position: relative;

            svg {
                position: absolute;
                z-index: 1;
                left: 1.6rem;
                top: 1.6rem;
                bottom: 0;
                width: 2.4rem;
                height: auto;
                display: block;

                path {
                    stroke: #8F90A4;
                }

            }
        }

        &-input {
            width: 100%;
            line-height: 5.6rem;
            height: 5.6rem;
            border-right: 0;
            border-radius: 0.4rem 0 0 0.4rem;
            padding-left: 4.8rem;
        }

        &-button {
            border-radius: 0 0.4rem 0.4rem 0;
            padding: 1.2rem 2.4rem;
        }
    }

    &__form-submit {
        margin-top: 2.4rem;

        width: 100% !important;
        display: block !important;
    }

    &__faq {
        max-width: 41.6rem;
        flex: 1 0 41.6rem;
        width: 100%;
    }

}