.block-articles {
    position: relative;
    margin-block: 6.8rem;

    @include sm {
        margin-block: 4.8rem;
    }

    &--featured {
        &.block-articles--light-blue {
            background-color: var(--color-background-3);
            .container {
                padding-top: 6rem;
                padding-bottom: 6rem;
            }
        }

        .block-articles__header {
            margin-bottom: 4.7rem;
        }
    }

    &__content {
        max-width: 60.4rem;
        margin-block: 3.2rem;
        --paragraph-color: var(--color-black);
        
        @include lg {
            max-width: 100%;
        }
    }

    &__title {
        margin: 0;
        font-weight: var(--font-weight-semibold);
        color: var(--color-primary);
    }

    &__grid {
        display: flex;
        grid-template-rows: auto;
        gap: 4.8rem;

        @include lg {
            flex-direction: column;
        }
    }

    &__featured {
        flex: 1;
    }

    &__posts {
        max-width: 52.6rem;
        flex: 1 0 52.6rem;
        display: flex;
        flex-direction: column;
        gap: 2.4rem;

        @include xl {
            max-width: 42%;
            flex: 1 0 42%;
        }

        @include lg {
            max-width: 100%;
            flex: 1;
            flex-direction: row;
            flex-wrap: wrap;

            .article-card {
                max-width: calc(50% - 2.4rem);
                flex: 1 0 calc(50% - 2.4rem);
            }
        }

        @include md {
            flex-direction: column;
            
            .article-card {
                max-width: 100%;
                flex: 1 0 100%;
            }
        }
    }

    &__header {
        align-items: flex-end;
        gap: 48px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 4rem;
    }
    
    &__slider {
        margin: 0 -1.2rem;
        
    }

    &__slide {
        padding: 0 1.2rem;
    }

    .slick-track {
        display: flex !important;
        padding: 0.8rem 0;
        min-width: 100%;
    }

    .slick-slide {
        height: auto;

        & > div {
            height:100%;
        }
    }

    .slick-arrow {
        top: 38%;
    }
}