.block-people {
    margin-bottom: 6.4rem;
    
    &__title {
        margin-bottom: 4.8rem;
        font-size: var(--font-size-32);
        color: var(--color-black);
        font-weight: var(--font-weight-semibold);

        @include md {
            margin-bottom: 3.2rem;
        }
    }
    
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4.8rem 2.5rem;

        @include sm {
            grid-template-columns: 1fr;
        }
    }
}