.breadcrumbs {
    &--secondary {
        .breadcrumbs__link {
            color: var(--color-white);
        }
    }
    
    &__link {
        color: var(--color-primary);
        text-decoration: none;
        font-size: var(--font-size-14);
        font-weight: var(--font-weight-medium);
        letter-spacing: 0.28px;

        &--current {
            font-weight: var(--font-weight-regular);
        }
    }
}