.button-card {
    --button-card-background: var(--color-primary-blue);
    --button-card-color: var(--color-white);
    --button-card-hover-background: var(--color-white);
    --button-card-hover-color: var(--color-primary-blue);
    --button-card-border: var(--color-primary-blue);
    --button-card-hover-border: var(--color-white);

    display: inline-flex;
    position: relative;
    padding: 1.6rem;
    background-color: var(--button-card-background);
    color: var(--button-card-color);
    font-weight: var(--font-weight-medium);
    text-decoration: none;
    min-height: 12.8rem;
    justify-content: flex-start;
    align-items: flex-end;
    transition: transform 0.2s ease-in-out;
    border-radius: 0.4rem;
    overflow: hidden;
    border:1px solid var(--button-card-border);

    &--secondary {
        --button-card-background: var(--color-primary);
        --button-card-color: var(--color-white);
        --button-card-hover-background: var(--color-primary-blue);
        --button-card-hover-color: var(--color-white);
    }

    &--tertiary {
        --button-card-background: var(--color-white);
        --button-card-color: var(--color-primary);
        --button-card-hover-background: var(--color-border-forms);
        --button-card-hover-color: var(--color-primary-blue);
        --button-card-border: var(--color-border-forms);
        --button-card-hover-border: var(--color-border-forms);
    }
    
    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 0;
        background-color: var(--button-card-hover-background);
        transition: height 0.2s ease-in-out;
    }

    &:hover {
        transform: translateY(-0.8rem);
        border: 1px solid var(--button-card-hover-border);
        
        &:before {
            height: 100%;
        }

        .button-card__icon path {
            fill: var(--button-card-hover-color);
        }
        .button-card__title {
            color: var(--button-card-hover-color);
        }
    }

    &__title {
        position: relative;
        z-index: 2;
        text-transform: uppercase;
    }

    &__icon {
        position: absolute;
        top: 1.6rem;
        right: 1.6rem;
        width: 4.8rem;
        height: 4.8rem;

        svg {
            display: block;
            max-width: 100%;
            height: auto;
            
            path {
                fill: var(--button-card-color);
                transition: fill 0.2s ease-in-out;
            }
        }
    }
}