.more-link {
    align-items: center;
    display: inline-flex;
    gap: 0.5rem;
    font-size: var(--font-size-16);
    color: var(--color-primary);
    text-decoration: none;
    font-weight: var(--font-weight-semibold);

    svg {
        display: block;
        width: 2.4rem;
        height: 2.4rem;

        @include lg {
            width: 1.8rem;
            height: 1.8rem;
        }
    }
}