.person-card {
    display: flex;
    gap: 1.6rem;

    &__image {
        aspect-ratio: 0.918;
        margin: 0;
        max-width: 11.2rem;
        width: 100%;
        flex:  1 0 11.2rem;
        overflow: hidden;
        height: auto;
        align-self: flex-start;
        background-color: var(--color-background-3);
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            height: 100%;
            object-fit: cover;
            width: 100%;
        }

        svg {
            margin: 0;
            display: block;
            width: 4.8rem;
            height: 4.8rem;
        }
    }

    &__content {
        flex: 1;
    }

    &__name {
        font-size: var(--font-size-20);
        font-weight: var(--font-weight-semibold);
        margin-bottom: 1.6rem;
        margin-top: 0;
    }

    &__position {
        color: var(--color-text-secondary);
        font-size: var(--font-size-14);
        font-weight: var(--font-weight-medium);
        text-transform: uppercase;
        margin-bottom: 0.8rem;
    }

    &__contact-item {
        display: flex;
        gap: 0.6rem;
        align-items: center;
        justify-content: flex-start;
        color: var(--color-black);
        text-decoration: none;
        font-size: var(--font-size-14);

        svg {
            display: block;
        }
    }
}