.block-faq {
    background-color: #F0F1F8;
    padding: 2.4rem 0;
    
    .container & .container {
        padding: 0 2.4rem;
    }

    &__title {
        font-size: var(--font-size-20);
        font-weight: var(--font-weight-semibold);
        margin-bottom: 2.4rem;
    }

    &__item {
        padding: 1.6rem 0;

        border-bottom: 1px solid #BDBED2;

        &[open] {
            .block-faq__item-icon {
                transform: rotate(0deg);
            }
        }
        &-title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1.6rem;
            cursor: pointer;

            font-size: var(--font-size-16);
            font-weight: var(--font-weight-semibold);
        }

        &-icon {
            transform: rotate(180deg);
            transition: transform 0.3s ease-in-out;
        }

        &-content {
            padding-block: 0.8rem 0;
            font-size: var(--font-size-14);
        }
    }
}